/* borrowed and manged from CSS Zen Garden by Dave Shea */
/* specifically Sakura by Tatsuya Uchida, Japan         */

html {
    margin: 0;
    padding: 0;
}
body { 
    margin: 0; 
    padding: 0;
}
p { 
    margin-top: 0; 
}
h1 { 
    font-size: 2.0em;
    letter-spacing: 1px; 
    margin-bottom: 0; 
}

footer { 
    font-size: 0.8em;
    text-align: center; 
}
footer a:link, footer a:visited { 
    text-decoration: none;
}
