<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <link rel="webmention"             href="{{ baseurl }}/webmention"/>
  <link rel="micropub"               href="{{ baseurl }}/micropub"/>
  <link rel="token_endpoint"         href="{{ baseurl }}/token"/>
  <link rel="authorization_endpoint" href="https://indieauth.com/auth"/>

  <link href="/static/main.css" rel="stylesheet" type="text/css">
</head>
<body>
  <div class="content">
    {% block content %}{% endblock %}
    <footer class="footer">
    </footer>
  </div>
</div>
</body>
</html>
